@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(#f8d4e6 , #e7add4 , #dc93c0 , #b874b4);
    /* background-color: rgb(241, 214, 240); */
    font-family: 'Varela Round', sans-serif;

}

.fondo{
    background:url("../img/fondo.jfif") no-repeat fixed center;
    background-size: cover;
}

.logo {
    width: 25%;
    padding: 1%;
    align-items: center;

}


.navbar-nav {
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.nav-item a:hover {
    color: rgb(248, 34, 134);
}

.navbar .container-fluid{
    display: flex;
    flex-direction: column-reverse;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    padding: 1%;
}

.videoindex{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

h2{
    text-decoration: underline;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 1%;
}

.textoindex{
    font-style: italic;
    text-align: center;
    margin: 1%;
    padding: 1%;
    font-weight: bolder;
       
}

.order-first {
    padding: 1%;
}

.col {
    padding: 1%;
}

footer {
    grid-area: footer;
    height: 30%;
    text-align: center;
    position: relative;
    color: black;
    
}

i{
    font-weight: 400;
}
