/* MIXIN */

@mixin textos {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    text-decoration: overline;
    text-align: center;
    
}


.textoEstilo{
    @include textos;
}