.cards {
    display: grid;

    @media only screen and (min-width: 720px) {
        grid-template-columns: auto auto auto;
    }

    @media only screen and (max-width: 720px) and (min-width: 500px) {
        grid-template-columns: auto auto;
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: auto;
    }

    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 40px;
    margin-bottom: 5%;
}

.card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    
}


.imgCard {
    border-radius: 10px 10px 10px 10px;
    @media only screen and (max-width: 500px) {
        width:50%;
    }

    @media only screen and (min-width: 500px) {
        width:100%;
        display:block
    }

}


.details {
    padding: 20px 10px;
    
}

.details>h2 {
    
    color: #d364ca;
    font-weight: 600;
    font-size: 25px;
    // margin: 10px 0 15px 0;
    text-align: center;
}

.details>p {
    
    color: #696565;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
}
