/*IMPORT estilos*/

@import "index";
@import "historia";
@import "personajes";
@import "consolas";
@import "multimedia";

$tip-fuente2: 'VT323', monospace;
$tip-fuente3: 'Silkscreen', cursive;
$tip-fuente4: 'Indie Flower', cursive;


@import "https://fonts.googleapis.com/css2?family=VT323&display=swap";
@import "https://fonts.googleapis.com/css2?family=Silkscreen&display=swap";
@import "https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap";

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/fondo1.jpg") no-repeat fixed center;
    background-size: cover;
}

.logo {
    width: 25%;
    padding: 1%;
    align-items: center;
}

.navbar-nav {
    list-style-type: none;
}

.nav-item {
    a {
        font-family: $tip-fuente3;
        font-size: small;
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
            color: rgb(248, 34, 134);
        }
    }
}

.navbar {
    .container-fluid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.navbar-toggler {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 123, 191, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");


    }
}

.titulo {
    font-family:$tip-fuente3;
    font-size: 300%;
    text-align: center;
    padding: 1%;
    color: #000;

}


footer {
    font-family: $tip-fuente3;
    padding: 1%;
    text-align: center;
    font-size: 100%;
    background-color: #252525;
    font-weight: bolder;
    color: white;
    width: 100%;
}

h2{
    font-family: $tip-fuente4;
}

p{
    font-family: $tip-fuente2;
}

 
.card-text {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 20px;
    color: rgba(182, 65, 153, 0.863);
    font-family: $tip-fuente2;
    font-weight: 300;
  
  }