
$tip-fuente: 'Press Start 2P', cursive;
@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
@import "https://fonts.googleapis.com/css2?family=Baloo+2&display=swap";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#f8d4e6, #e7add4, #dc93c0, #b874b4);
}

.fondo {
    background: url("../img/fondo.jfif") no-repeat fixed center;
    background-size: cover;
}

.logo {
    width: 25%;
    padding: 1%;
    align-items: center;
}

.navbar-nav {
    list-style-type: none;
}

.nav-item {
    a {
        font-family: 'Press Start 2P', cursive;
        font-size: x-small;
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
            color: rgb(248, 34, 134);
        }
    }
}

.navbar {
    .container-fluid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.navbar-toggler {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254, 123, 191, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");


    }
}

.titulo {
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    padding: 1%;
}

.divVideo {
    position: relative;
    margin: 1%;
    padding-bottom: 50.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
        height: 70%;
    }

    object {
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
        height: 70%;
    }

    embed {
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;
        height: 70%;
    }
}

h2 {
    text-decoration: underline;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 1%;
    
}

.container {
    font-style: italic;
    text-align: center;
    padding: 1%;
    font-weight: bolder;

}

.col-12 {
    padding: 1%;
}

.img-fluid {
    border-radius: 10%;
}

.row{
    justify-content:center;
}

footer {
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    height: 30%;
    text-align: center;
    position: relative;
    background-color: #252525;
    font-weight: bolder;
    display: flow-root;
    color: white;
    padding: 1%;
}


i {
    font-weight: 400;
}


.card-text {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-style: italic;
    color: rgb(129, 41, 110);
    font-family: 'Baloo 2', cursive;

}

.card-title {
    font-family: 'Press Start 2P', cursive;
    font-size:larger;
}

.col-md-4{
    margin: 3%;
    padding-top: 6%;
    padding-left: 5%;
}

.imgCon {
    border: 5px solid black;
    border-radius: 20%;
}

.introHistoria{
    padding: 1.5%;
    font-style: italic;
}
.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  